* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;;
  	text-decoration: none;
  	font-family: 'Nanum Gothic', sans-serif;
  	line-height: 1;
}

main
{
	overflow-x: hidden;
  	overflow-y: hidden;
}

a {
	text-decoration: none;
	color:#fff;
}

body, html {
  margin: 0;
}

header {
	/* background styling */
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	background-image: url(background-img/first-back-img.png);
} 	

.wrapper
{
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.header-menu
{
	display: flex;
	justify-content:space-between;
	padding-top: 50px;
	margin-bottom: 185px;
}

.navigation
{
	color: white;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.navigation li:hover
{
	border-bottom: 1px solid #e21440;
}

.navigation li
{
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	transition: .5s easy;
}

.header-logo
{
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;

	position: relative;
}

.header-triangle-image
{
	position: absolute;
	top: 10px;
}

.brand
{
	background-color: #fff;
	text-transform:uppercase;
	font-weight: 800;
	font-size: 60px;
	padding: 4px 0;
	z-index: 1;
	margin-bottom: 65px;
}

.brand__bg-red
{
	background-color: #e21440;
}

.product-title
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	text-transform:uppercase;
	color: #fff;
	z-index: 1;
	margin-bottom: 30px;
}

.product-title:before
{
	margin-right: 5px;
	content: "";
	width: 55px;
	height: 1px;
	background-color: #e21440;
}

.product-title:after
{
	margin-left: 5px;
	content: "";
	width: 55px;
	height: 1px;
	background-color: #e21440;
}

.product-subtitle
{
	color: #e21440;
	font-weight: 600;
	z-index: 1;
}

.header-bottom
{
	position: relative;
	padding-bottom: 35px;
}

.header-suitcase
{
	bottom: 10px;
	right: -350px;
}

.header-bottom-title
{
	color: #52e4d8;
	font-weight: 600;
	text-align: center;
}

.second-screen
{
	background-image: url(background-img/second-screen-bg.png);
	background-repeat: no-repeat;
	position: relative;
}

.second-screen-content
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: relative;
}

.second-screen-header
{
	z-index: 1;
	
}

.header
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
}

.header:before
{
	margin-right: 5px;	
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
}

.header:after
{
	margin-left: 5px;
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
}

.second-screen-pricebg
{
	display: flex;
	justify-content:center;
	align-items: center;
}

.second-screen-price
{
	position: absolute;
	font-weight: 600;
	color:#fff;
	z-index: 1;
}

.second-screen-suitcases
{
	display: flex;
}

.second-screen-leftarrow-text
{
	font-weight: 600;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform:rotate(180deg);
}

.second-screen-leftarrow
{
	margin-bottom: -150px;
}

.second-screen-bottomarrow-text
{
	font-weight: 600;
	text-align: center;
}

.second-screen-girl
{
	position: absolute;
	bottom: 75px;
	z-index: -1;
}

.third-screen
{
	position: relative;
	margin-bottom: 40px;
}

.third-screen-content
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.third-screen-header
{
	margin-bottom: 10px;
}

.third-screen-circles
{
	position: relative;

	max-width: 1030px;
	display: flex;
	justify-content: center;
	padding-top: 140px;

	flex-wrap: wrap;
}

.third-screen-circles:before
{
	position: absolute;
	content: "";
	width: 740px;
	height: 1px;
	background-color: #000;
	top: 0;
}

.first:before
{
	content: "";
	position: absolute;
	width: 1px;
	height: 158px;
    background-color: #000;
    top: -139px;
    left: 161px;
}

.first:nth-child(1)::before
{
    left: 164px;
}

.first:nth-child(3)::before
{
    left: 160px;
}

.first:nth-child(4)::before
{
	top: -502px;
    height: 515px;
	width: 1px;
    left: 160px;
}

.first:nth-child(5)::before
{
	top: -502px;
    height: 515px;
	width: 1px;
    left: 162px;
}

.third-screen-circle-wrapper
{
	position: relative;
}

.circle-icon, 
.circle-text
{
	position: absolute;
}

.circle-icon
{
	top: 75px;
    right: 38px;
}

.circle-text 
{
    top: 200px;
    left: 50%;
    transform:translateX(-50%);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 270px;
    text-transform:uppercase;
    line-height: 30px;
}

.third-screen-bg
{
	position: absolute;
	top: -467px;
    z-index: -2;
}

.third-screen-guy
{
	position: absolute;
	top: -75px;
    right: -325px;
    z-index: -2;
}

.fourth-screen-content
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}

.forth-screen-catalog
{
	display: flex;
	flex-direction: column;
}

.left-charecter
{
	position: relative;
	margin-bottom: 25px;
}

.left-charecter-text-top
{
    transform:translateX(-50%);
    position: absolute;
    text-transform:uppercase;
}

.left-charecter-text-bottom
{
	text-transform: uppercase;
	text-align: center;
}

.left-main-circle-icon
{
	position: absolute;
}

.fourth-screen
{
	margin-bottom: 50px;
}

.fourth-screen-center-suitcase
{
	position: relative;
	z-index: -1;
}

.fourth-screen-center-img
{
	position: absolute;
}

.fourth-screen-right-header
{
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.fourth-screen-top-right
{
	align-self: flex-start;
}

.fourth-screen-sizes
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fourth-screen-right-size.size-active
{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 600;
	width: 75px;
	background-color: #ff3333;
	border: 2px solid #ff3333;
	text-align: center;
	line-height: 65px;
	color: #fff;
}

.fourth-screen-right-size
{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 600;
	width: 75px;
	border: 2px solid #ff3333;
	text-align: center;
	line-height: 65px;
	color: #000;
	cursor: pointer;
}

.fourth-screen-price
{
	position: relative;
	margin-bottom: 35px;
}

.fourth-screen-price img
{
	float: left;
}

.price-text
{
	position: absolute;
	top: 75px;
    left: 45px;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
}

.new-price
{
	padding-top: 68px;
	font-weight: 600;
	color: #ff0000;
	margin-bottom: 20px;
}

.old-price
{
	font-size: 30px;
	text-decoration: line-through;
}

.fourth-screen-stock
{
	position: relative;
}

.stock-text
{
	position: absolute;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff0000;
}

.timer
{
	display: flex;
	justify-content: flex-end;
	margin-top: -42px;
    margin-right: 25px;
}

.timer-wrapper
{
	margin-left: 45px;
	text-align: center;
}

.time
{
	font-weight: 600;
	font-size: 36px;
}

.description
{
	font-weight: 600;
	font-size: 18px;
}

.fourth-screen-colors
{
	max-width: 835px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}

.case-color-container
{
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
	cursor: pointer;
}

.case-color-active
{
	position: absolute;
	font-size: 22px; 
	line-height: 55px;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
}

.case-color-active:before
{
	content: "";
	position: absolute;
	width: 70px;
	height: 70px;
	border: 1px solid #ffcc99;
	background-color: #fff;
	z-index: -1;
	border-radius: 50%;
	top: -8px;
    left: -8px;
}

.case-color
{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.case-color-first
{
	margin-left: 0px;
	background-color: #99cccc;
}

.case-color-second
{
	background-color: #66cc99;
}

.case-color-third
{
	background-color: #6c6052;
}

.case-color-fourth
{
	background-color: #575757;
}

.case-color-fifth
{
	background-color: #70644f;
}

.case-color-sixth
{
	background-color: #c28568;
}

.case-color-seventh
{
	background-color: #f5f5f5;
}

.case-color-eighth
{
	background-color: #253162;
}

.case-color-ninth
{
	background-color: #5f0869;
}

.case-color-tenth
{
	background-color: #c51605;
}

.case-color-eleventh
{
	background-color: #f96a2b;
}

.case-color-twelfth
{
	background-color: #ede64d;
}

.case-color-thirteenth
{
	background-color: #792620;
}

.case-color-fourtheenth
{
	margin-left: 0px;
	background-color: #ed799e;
}

.case-color-fifteenth
{
	background-color: #a20844;
}

.case-color-sixteenth
{
	background-color: #6cd856;
}

.case-color-seventeenth
{
	background-color: #e1e1e1;
}

.case-color-eighteenth
{
	background-color: #8bd8f4;
}

.case-color-ninteenth
{
	background-color: #000;
	background-image: url(background-img/forth-screen/circle-airplane.png);
	background-size: cover;
}

.case-color-twentieth
{
	background-color: #000;
	background-image: url(background-img/forth-screen/circle-sheep.png);
	background-size: cover;
}

.case-color-thwenty-first
{
	background-color: #000;
	background-image: url(background-img/forth-screen/circle-airplane2.png);
	background-size: cover;
}

.fourth-screen-form
{
	display: flex;
    justify-content: center;
}

.fourth-form-order
{
	padding: 17px 25px;
	border: 1px solid #ff3333;
	max-width: 580px;
    display: inline-block;
	box-shadow: 10px -10px 5px -7px rgba(204,204,204,0.75);
	display: flex;
    flex-wrap: wrap;
}

.input-phone
{
	width: 280px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
}

.input-phone::placeholder
{
	font-size: 18px;
	opacity: 0.7;
}

.input-phone::focus
{
	outline: none;
}

.submit
{
	margin-left: 20px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background-color: #339933;
	padding: 15px 65px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	cursor: pointer;
}

.fifth-screen
{
	background-image: url(background-img/fifth-screen/bg.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-bottom: 45px;
	margin-bottom: 90px;
}

.fifth-screen-header
{
	font-weight: 600;
	color: #52e4d8;
	-webkit-mask-image: -webkit-gradient(linear, left -60, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.fifth-screen-title
{
	margin-bottom: 43px;
}

.fifth-screen-contnent
{
	display: flex;
	flex-wrap: wrap;
}

.left-contnet
{
	display: flex;
	align-items: center;
	margin-bottom: 17px;
}

.left-content-text
{
	margin-left: 7px;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 600;
	-webkit-text-stroke: 1px white;
  	-webkit-text-fill-color: black;
}

.sixth-screen
{
	background-image: url(background-img/sixth-screen/bg.png);
	background-repeat: no-repeat;
	background-position: left -180px;
}

.sixth-screen-content
{
	display: flex;
	flex-wrap: wrap;
}

.sixth-screen-left-content .slick-next
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.5px 0 13.5px 14px;
	border-color: transparent transparent transparent #000000;
	font-size: 0;
	position: absolute;
	right: 103px;
	bottom: 50px;
	cursor: pointer;
}

.sixth-screen-left-content .slick-prev
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.5px 14px 13.5px 0;
	border-color: transparent #000000 transparent transparent;
	font-size: 0;
	position: absolute;
	left: 103px;
	bottom: 50px;
	cursor: pointer;
}

.sixth-screen-left-content .slick-dots
{
	position: absolute;
	display: flex;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}

.sixth-screen-left-content .slick-dots li
{
	background-color: #ff0000;
	border: 1px solid transparent;
	height: 5px;
	cursor: pointer;
}

.sixth-screen-left-content .slick-dots .slick-active
{
	border: 1px solid #000;
	background-color: #fff;
}

.sixth-screen-right-content
{
	display: flex;
	flex-direction: column;
	position: relative;
}

.sixth-right-content-header
{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 27px;
	text-align: center;
}

.sixth-screen-header-sizes
{
	display: flex;
}

.sixth-screen-right-size
{
	border: 2px solid #ff3333;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 600;
	color: #000;
}

.sixth-screen-right-active
{
	background-color: #ff3333;
	color: #fff;
}

.sixth-screen-colors
{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}

.sixth-screen-colors .case-color-container:nth-child(1)
{
	margin-left: 205px;
}

.sixth-screen-colors .case-color-container
{
	margin-top: 8px;
}

.sixth-case-color
{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
}

.sixth-screen-form
{
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 41px;
	right: 0;
}

.sixth-form-order
{
	padding: 17px 25px;
	border: 1px solid #ff3333;
	box-shadow: 10px -10px 5px -7px rgba(204,204,204,0.75);
	display: flex;
}

.seven-screen
{
	background-image: url(background-img/seven-screen/bg.png);
	background-repeat: no-repeat;
	background-position: right 325px;
}

.seven-screen-header
{
	font-weight: 600;
	color: #52e4d8;
}

.seven-screen-title
{
	font-weight: 600;
	text-transform: uppercase;
}

.seven-screen-text
{
	letter-spacing: 3px;
}

.eight-screen
{
	background-image: url(background-img/eight-screen/bg.png);
	background-repeat: no-repeat;
}

.eight-screen-header
{
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.eight-screen-header:before
{
	margin-right: 5px;	
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
}

.eight-screen-header:after
{
	margin-left: 5px;	
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
}

.center 
{
	max-width: 970px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 37px;
}

.center img
{
	margin: 0 auto;
}

.sixth-screen-content .slick-slide
{
	padding: 0 0 90px 0;
}

.slick-slide  {
  	transition: transform .3s cubic-bezier(.4,0,.2,1);
}

.center-active
{
	transform: scale(1.5);
}

.center .slick-arrow
{
	position: absolute;
	border: solid #ffffff;
	border-width: 0 8px 8px 0;
	display: inline-block;
	padding: 15px;
	top: 50%;
	cursor: pointer;
}

.center .slick-prev
{
  	transform: translateY(-50%) rotate(135deg);
  	-webkit-transform: translateY(-50%) rotate(135deg);
}

.center .slick-next
{
	transform: translateY(-50%) rotate(-45deg);
  	-webkit-transform: translateY(-50%) rotate(-45deg);
  	right: -25px;
}

.eight-form-order
{
	padding: 17px 25px;
	border: 1px solid #ff3333;
	max-width: 580px;
    display: inline-block;
	box-shadow: 10px -10px 5px -7px rgba(0,0,0,1);
	display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.nine-screen
{
	background-image: url(background-img/nine-screen/bg.png);
	background-repeat: no-repeat;
	background-position: left 145px;
}

.nine-screen-header
{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 40px;
	text-align: center;
    margin: 0 auto 84px;
	max-width: 730px;
}

.nine-screen-header:before
{
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
	margin-right: 5px;	
	margin-bottom: 40px;
}
.nine-screen-header:after
{
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
	margin-left: 5px;
	margin-bottom: 40px;
}

.nine-screen-content
{
	display: flex;
}

.nine-screen-content .sixth-screen-left-content .slick-next
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.5px 0 13.5px 14px;
	border-color: transparent transparent transparent #000000;
	font-size: 0;
	position: absolute;
	right: 82px;
	cursor: pointer;
}

.nine-screen-content .sixth-screen-left-content .slick-prev
{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.5px 14px 13.5px 0;
	border-color: transparent #000000 transparent transparent;
	font-size: 0;
	position: absolute;
	left: 82px;
	cursor: pointer;
}

.nine-screen-content .sixth-screen-left-content .slick-dots
{
	position: absolute;
	width: 566px;
	display: flex;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}

.nine-screen-content .slick-slide
{
	padding: 0;
}

.ten-screen
{
	background-image: url(background-img/ten-screen/bg.png), url(background-img/ten-screen/bg2.png);
	background-repeat: no-repeat;
	position: relative;
}

.ten-screen-header
{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
	font-weight: 600;
	font-size: 40px;
}

.ten-screen-header:before
{
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
	margin-right: 5px;
}

.ten-screen-header:after
{
	content: "";
	width: 55px;
	height: 1px;
	background-color: #ff0000;
	margin-left: 5px;
}

.ten-screen-contnent .slick-slide,
.ten-screen-slider-for .slick-slide
{
	padding: 0;
}

.ten-screen-slider-for 
{
	padding: 0 15px;
}

.ten-screen-slider-for .slick-slide
{
	width: 1000px;
}

.ten-screen-slider-for img
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ten-screen-slider-nav .slick-slide img,
.ten-screen-slider-for img
{
	max-width: 100%;
}

.ten-screen-slider-nav img
{
	cursor: pointer;
}

.ten-screen-slider-nav .slick-slide
{	
	padding: 30px 15px 0 15px;
}

.ten-screen-slider-for .slick-arrow
{
	position: absolute;
	border: solid #000;
	border-width: 0 8px 8px 0;
	display: inline-block;
	padding: 15px;
	top: 50%;
	cursor: pointer;
}

.ten-screen-slider-for .slick-prev
{
  	transform: translateY(-50%) rotate(135deg);
  	-webkit-transform: translateY(-50%) rotate(135deg);
  	left: -50px;
}

.ten-screen-slider-for .slick-next
{
	transform: translateY(-50%) rotate(-45deg);
  	-webkit-transform: translateY(-50%) rotate(-45deg);
  	right: -50px;
}

.ten-screen-slider-nav .slick-dots
{
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: -37px;
	left: 50%;
	transform: translateX(-50%);
}

.ten-screen-slider-nav .slick-dots li
{
	background-color: #ff0000;
	border: 1px solid transparent;
	height: 5px;
	cursor: pointer;
}

.ten-screen-slider-nav .slick-dots .slick-active
{
	border: 1px solid #000;
	background-color: #fff;
}

.about
{
	display: flex;
}

.about-delivering
{
	height: 442px;
	background-image: url(background-img/ten-screen/image1.png);
	background-repeat: no-repeat;
	background-color: #000;
}

.about-header
{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 29px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.about-header:after
{
	content: "";
	width: 252px;
	height: 1px;
	background-color: #ff0000;
	margin: 20px auto;
}

.delivering-content
{
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	max-width: 378px;
	margin: 0 auto;
	line-height: 2;
}

.about-store
{
	left: 500px;
	height: 442px;
	background-image: url(background-img/ten-screen/image2.png);
	background-repeat: no-repeat;
	background-color: #000;
}

.store-content
{
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	max-width: 378px;
	margin: 0 auto;
	line-height: 2;
	letter-spacing: 0.68px;
}

.ten-screen-men
{
	position: absolute;
	right: 0;
	bottom: 10px;
	z-index: -1;
}

footer
{
	background-color: #666666;
}

.footer-contet
{
	text-transform: uppercase;
	font-size: 15px;
	padding: 44px 0;
	line-height: 1.4;
	color: #fff;
}
